extends layout

block content
  h1= title
  p Добро пожаловать на сайт для бронирования столиков ресторана "#{title}"! 
    | Здесь вы можете ознакомиться с перечнем доступных столиков и забронировать себе 
    | приглянувшиеся на удобное для вас время.

  //- h1 Перечень столиков
  if error 
    p Ошибка получения перечня столов
  else 
    p На данный момент в зале имеются:
    
    ul 
      li !{data.tables_count} столиков

  p Меню:
    ul 
      li Чай чёрный с сахаром, 200мл, 50р
      li Ватрушка, 120г, 75р 
      li (блюдо дня) Макароны с сыром, 50+200г, 100р
